*{
  text-decoration: none;
  box-sizing: border-box;
 
}
html{
  overflow-x: hidden;
}

body {
 
    font-family: Roboto, Helvetica, Arial, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--blue);
  overflow-x: hidden;
  max-width: 100%;
  
}
a{
  color:white;
}
.button{
 background-color: var(--blue);
} 

:root{
 --blue:#081158;
 --skyblue:#cfddee;
 --olive:#d2e4e0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
